{% extends "base_template/base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="index-body">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body card-body-url-details">
                        <h5 class="card-title text-center">URL Details</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr class="table-light">
                                    <td>Original URL</td>
                                    <td><a href="{{ url.original_url }}" target="_blank">{{ url.original_url }}</a></td>
                                </tr>
                                <tr class="table-light">
                                    <td>Shortened URL</td>
                                    <td><a href="{{ url.get_shortened_url }}" target="_blank">{{ url.get_shortened_url }}</a></td>
                                </tr>
                                <tr class="table-light">
                                    <td>Creation Date</td>
                                    <td>{{ url.creation_date|naturaltime }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Customized</td>
                                    <td>{{ url.is_customized }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Active Status</td>
                                    <td>{{ url.active_status }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Expired Status</td>
                                    <td>{{ url.expired_status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-4">
                {% if not click_count %}
                <h2 class=" text-center">No Data</h2>
                    <p class="text-center">No clicks yet! no Analytics data to show!</p>
                {% else %}
                <div class="card h-10">
                    <div class="card-body">
                       
                        <h5 class="card-title text-center">Analytics</h5>
                        
                            <table class="table  table-hover">
                                <tbody>
                                    <tr class="table-light">
                                        <td>Total Clicks</td>
                                        <td><span class="badge bg-primary rounded-pill">{{ click_count }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">

                    <div class="card h-90">
                        <div class="card-body">
                           
                            <h5 class="text-center">Clicks by Browser</h5>
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table-light">
                                        <td>Browser</td>
                                        <td>Click Count</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for browser in clicks_by_browser %}
                                        <tr class="table-light">
                                            <td>{{ browser.browser__browser_name }}</td>
                                            <td><span class="badge bg-primary rounded-pill">{{ browser.click_count }}</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card h-90">
                        <div class="card-body">
    
                            <h5 class="text-center">Clicks by Platform</h5>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>Platform</td>
                                        <td>Click Count</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for platform in clicks_by_platform %}
                                        <tr class="table-light">
                                            <td>{{ platform.platform__platform_name }}</td>
                                            <td><span class="badge bg-primary rounded-pill">{{ platform.click_count }}</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
