{% extends "base_template/base.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Join today!</h4>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'signup' %}" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                {% if field.name == "username" %}
                                <i class="fa fa-user"></i>
                                {% elif field.name == "email" %}
                                <i class="fa fa-envelope"></i>
                                {% elif field.name == "password1" %}
                                <i class="fa fa-lock"></i>
                                {% elif field.name == "password2" %}
                                <i class="fa fa-lock"></i>
                                {% endif %}
                            </span>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" autocomplete="{% if field.field.widget.input_type == 'password' %}new-password{% endif %}">
                            {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in field.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Sign up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account? <a class="ml-2 " href="{% url 'login' %}">Sign in</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
