{% extends "base_template/base.html" %}
{%load static%}
{% block content %}
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-xl-8 shadow-lg rounded-lg">
            <div class="row">
                <!-- Image column -->
                <div class="col-md-6  p-0 " >
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Responsive image">
                </div>
                <!-- Form column -->
                <div class="col-md-6 p-0">
                    <div class="card card-height-100 rounded">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Join today!</h4>
                        </div>
                        <!-- end card header -->
                        <div class="card-body ml-5">
                            <div class="container">
                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <input type="email" id="email" name="email" placeholder="xyz@mail.com" >
                                        <input type="password" id="password" name="password" placeholder="password" >
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-primary" type="submit">Logfin</button>
                                    </div>
                                </form>
                                {% comment %} <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div>
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="username" required>
                                    </div>
                                    <div>
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password" required>
                                    </div>
                                    <button type="submit">Login</button>
                                </form> {% endcomment %}
                                <div class="border-top pt-3">
                                    <small class="text-muted">
                                        Already have an account? <a class="ml-2" href="{% url 'signup' %}">Sign up</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!-- .card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
