{% extends "base_template/base.html" %} {% load static %} {% block content %} 

<header>
  <nav
    class="navbar sticky-top navbar-expand-lg bg-primary"
    data-bs-theme="dark"
  >
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'list_urls' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              >API <i class="fa fa-users"></i>
              <i class="fa fa-spinner fa-pulse"> </i
              ><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <a href="{% url 'logout' %}" onclick="clearCache()" class="btn"
          >Logout</a
        >
      </div>
    </div>
  </nav>
</header>

<div class="index-body">
  <div class="container text-center mt-5 mb-5">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete this URL?</p>
    <strong>{{ url.original_url }}</strong> -
    <a href="{{ url.get_shortened_url }}">{{ url.get_shortened_url }}</a>
    <br />
    <br />

    <form
      action="{% url 'delete_url' url.pk %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'list_urls' %}">Cancel</a>
    </div>
</div>

    {% endblock content %} {% block script %}
<script src="{% static 'js/landing.js' %}"></script>
<script src="{% static 'js/other.js' %}"></script>
{% endblock script %}
